body
{
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: black;

    height: 100vh;
    overflow: hidden;
}

body::before
{
    content: "";
    position: fixed;
    inset: 0;

    background-image:url("BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    filter: blur(5px);
    z-index: -1;
}

.report-rect
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;

    margin: 2vw;

    width: clamp(70vh, 30vw, 300px);
    border-radius: 3vh;
    box-shadow: black 0px 0px 30px 5px;

    background-image: linear-gradient(to bottom, rgba(83, 144, 181, 0.7), rgba(112, 178, 219, 0.9));
}

#message
{
    position: absolute;
    width: fit-content;
    padding: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    top: 0;
    margin-top: 5vh;

    opacity: 0;
    transition: .3s;
}

#messageText
{
    font-size: 3vh;
}

.text
{
    margin-bottom: 0px;
    margin-top: 0px;
    color: #2b2b2b;
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium';
}

#intro
{
    font-size: 3vh;
}

#titleTxt
{
    margin-top: 3vh;
}

#titleInput
{
    margin-top: 2vh;
    height: 5vh;
}

#detailsInput
{
    margin-top: 2vh;
    height: 15vh;
}

.user-input
{
    border-radius: 1vh;
    border: none;
    background-color: rgba(97, 93, 148, 0.5);
    overflow: hidden;
    margin-bottom: 2vh;
    resize: none;
    padding: 1vh;

    font-size: 3vh;
    font-family: "Cambria";

    width: 80%;
}

.user-input:hover
{
    background-color: rgba(97, 93, 148, 0.2);
}

#submitButton
{
    border-radius: 1vh;
    border: none;
    font-size: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

    background-color: rgba(97, 93, 148, 0.4);
    cursor: pointer;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

#submitButton:hover
{
    background-color: rgba(97, 93, 148, 0.2);
}


/* Switch */
.switchZone
{
    display: flex;
    align-items: center;
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium';
    color: #2b2b2b;
}

.switch input
{
    opacity: 0;
    height: 0;
    width: 0;
}


.switch
{
    display: flex;

    width: 12vh;
    height: 4vh;
    background-color: rgba(97, 93, 148, 0.4);
    border-radius: 2vh;

    margin-left: 3vh;
    margin-right: 3vh;

    cursor: pointer;
}

.slider
{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
}

.slider::before
{
    position: absolute;
    content: "";
    top: 0.5vh;
    left: 0;
    right: 0;
    bottom: 0;

    width: 6vh;
    height: 3vh;
    background-color: white;
    border-radius: 2vh;

    background-color: rgba(97, 93, 148, 0.7);
    transition: .3s;
}

input:checked + .slider::before
{
    transform: translate(4.5vh);
}
